@import '../../../styles.scss';

:host {
    width: 180px;
    display: flex;
    flex-direction: column;
}

nav {
    flex: 1 0 auto;
    height: 0;
    padding: 16px;
    overflow-y: auto;
    background-color: burlywood;

    a {
        display: block;
        height: 48px;
    }
}